@model IEnumerable<Product>

<div class="row m-0">

    @foreach (Product product in Model)
    {
        <div class="col-lg-3 col-sm-6 col-xs-6 m-0">
            <div class="row p-2">
                <div class="card border-0 p-3 shadow border-top border-5 rounded">
                    <img src="@product.ImageUrl" class="card-img-top rounded" />
                    <div class="card-body p-0">
                        <p class="card-title h5 text-center text-uppercase  text-dark">@product.Title</p>
                        <p class="card-title text-center text-warning text-dark">by: <b>@product.Author</b></p>
                    </div>
                    <div class="card-body p-0 mb-0">
                        <p class="text-center text-warning p-0 text-decoration-line-through mb-0">@product.ListPrice.ToString("c")</p>
                        <p class="text-center text-opacity-75 text-dark p-0 mb-0">As low as : <span class="">@product.Price50.ToString("c")</span></p>
                    </div>
                    <div>
                        <a asp-action="Details" asp-route-ProductId="@product.ID" class="btn btn-primary bg-gradient form-control bi bi-info-square shadow rounded-5">
                            Details
                        </a>
                    </div>
                </div>
                
            </div>
        </div>

    }

</div>