@model List<Category>
@* @if (TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
} *@
<div class="container">
   
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">  
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="category" asp-action="create" class="btn btn-primary text-light bg-black" >
                <i class="bi bi-plus-square">Create New Category</i>
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
        </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td>@obj.Name</td>
                    <td>@obj.DisplayOrder</td>
                    <td>
                        <a asp-controller="Category" asp-action="Edit" class="btn" asp-route-Id="@obj.ID">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-controller="Category" asp-action="Delete" class="btn btn-danger" asp-route-Id="@obj.ID">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr> 
            }
        </tbody>
    </table>
</div>